@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&subset=cyrillic,latin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&subset=cyrillic,latin&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;

    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 13%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 35%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 13%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 84% 60%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 0% 54%;

    --radius: 0.625rem;

    --sidebar-background: 0 0% 97%;
    --sidebar-foreground: 0 0% 9%;
    --sidebar-primary: 217 91% 60%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 96%;
    --sidebar-accent-foreground: 0 0% 13%;
    --sidebar-border: 0 0% 90%;
    --sidebar-ring: 0 0% 54%;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 98%;

    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 17%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 17%;
    --muted-foreground: 0 0% 54%;

    --accent: 0 0% 17%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 74% 42%;

    --border: 0 0% 17%;
    --input: 0 0% 17%;
    --ring: 0 0% 27%;

    --sidebar-background: 0 0% 13%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 217 91% 60%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 17%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 17%;
    --sidebar-ring: 0 0% 27%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}
